@model List<Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var userEmail = Context.Session.GetString("UserEmail");
    if (userEmail == null)
    {
        userEmail = ViewContext.HttpContext.Request.Cookies["UserEmail"];
    }
}
    

<div class="index">
    <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers">1,504</div>
                <div class="cardName">Daily Views</div>
            </div>

            <div class="iconBx">
                <ion-icon name="eye-outline"></ion-icon>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">80</div>
                <div class="cardName">Sales</div>
            </div>

            <div class="iconBx">
                <ion-icon name="cart-outline"></ion-icon>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">284</div>
                <div class="cardName">Comments</div>
            </div>

            <div class="iconBx">
                <ion-icon name="chatbubbles-outline"></ion-icon>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">$7,842</div>
                <div class="cardName">Earning</div>
            </div>

            <div class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
            </div>
        </div>
    </div>

    <!-- ================ Order Details List ================= -->
    <div class="details">
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>Recent Orders</h2>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Image</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Brand</td>
                            <td>@product.Category</td>
                            <td>@(product.Price)$</td>
                            <td><img src="/Products/@product.ImageFileName" class="icon-image" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- ================= New Customers ================ -->
        <div class="recentCustomers">
            <div class="text-center">
                <div class="mySlides">
                    <img src="/Products/x6851b_note40pro_5g_base1_1_1.png" style="max-width:200px;">
                    <div>
                        <h3>Phones</h3>
                        <p><b>Essential attributes include fast charging capabilities, access to versatile business applications</b></p>
                        <div>
                            <p>
                                Experience the future at your fingertips with our latest smartphones.
                                Designed to be sleek, powerful, and intuitive, capture every moment,
                                and do more with a phone that's built to keep up with your dynamic lifestyle.
                            </p>
                        </div>
                    
                    </div>
                </div>

                <div class="mySlides">
                    <img src="/Products/honor-magicbook-x16-list-gray-pc.png" style="max-width:200px;">
                    <div>
                        <h3>Laptops</h3>
                        <p><b>Unlock your potential with our premium laptops</b></p>
                    </div>
                    <div>
                        <p>
                            Empower your productivity with our state-of-the-art laptops. Whether you’re working,
                            gaming, or streaming, these devices are engineered to deliver exceptional speed,
                            vibrant displays, and unmatched versatility.
                        </p>
                    </div>
                </div>
                <div class="mySlides">
                    <img src="/Products/91cYFY4F0GL.jpg" style="max-width:200px;">
                    <div>
                        <h3>Screens</h3>
                        <p><b>Immerse yourself in stunning visuals with our advanced TV screens</b></p>
                        <div>
                            <p>
                                Step into a world of immersive entertainment with our premium TV screens.
                                Featuring ultra-high definition resolution, vibrant colors, and crystal-clear sound,
                                our TVs transform your living room into a cinematic experience.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- =========== Scripts =========  -->
<script src="assets/js/main.js"></script>

<!-- ====== ionicons ======= -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
